.php {
    background-color: blue;
}

.brukerdiv {
    background-color: antiquewhite;
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    align-content: center;
}

.bilder {
    height: 50%;
    width: 50%;
}

.meny {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bilde_div {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}