.php {
    background-color: blue;
}

.brukerdiv {
    background-color: antiquewhite;
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    align-content: center;
    width: fit-content;
}

.meny {
    background-color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bilde_div {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.container {
    background-color: blue;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.list {
    background-color: antiquewhite;
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    align-content: center;
}

.bildelink {
    height: fit-content;
    width: fit-content;
}

.mine_bilder {
    height: 50%;
    width: 50%;
}

.bilder {
    height: 50%;
    width: 50%;
}

.stort_bilde {
    height: 50%;
    width: 50%;
}

.registrer {
    background-color: antiquewhite;
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    align-content: center;
}